.playWindow {
	height: 80px;
}
.playWindow > * {
	width: 100%;
}

.musicLogo {
	margin: 0 0.5em 0 1em;
	display: flex;
}

.musicLogo img {
	width: 38px;
	animation: rotate 2.7s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

.songDetail {
	display: flex;
	align-items: center;
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.songDetail .songName {
	margin: 0;
	font-weight: 400;
	font-size: 0.88rem;
}

.songDetail .singerName {
	font-weight: 200;
	font-size: 0.75rem;
}

.playControl {
	display: flex;
	width: 100px;
	justify-content: space-around;
}

.playButton {
	width: 30px;
	height: 30px;
}

input[type="image"] {
	outline: none;
}

/* .progressSlider {
	padding: 0 0.25rem !important;
} */
.progressSlider :global(.adm-slider-track-container) {
	padding: 0;
}
